{% load staticfiles %}
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scale=no" name="viewport"/>
		<title>博客王</title>
		<style type="text/css">
			#index:hover{
				background-color:#d02866;
				color:white;
			}
			#kinds:hover{
				background-color:#d02866;
				color:white;
			}
		</style>
	</head>
	<body  style="display:flex;flex-direction:rows;">
	
		<div style="width:65%;height:auto;border-right:1px solid #808080;">
			<div style="display:flex;flex-direction:rows;">
				<div style="display:flex;flex-direction:rows;width:40%;">
					<img src="/static/images/apple.jpg" style="height:100px;auto;border:1px solid #808080;"></img>
					<div id="index" style="width:27%;height:40px;border:1px solid #808080;line-height:40px;margin-top:60px;text-align:center;"><a href="{% url 'home' %}" style="text-decoration:none">首页</a></div>
					<div id="kinds" style="width:27%;height:40px;border:1px solid #808080;line-height:40px;margin-top:60px;text-align:center;">科技</div>
				</div>
				<div style="display:flex;flex-direction:rows;width:213px;margin-top:60px;margin-left:auto;">
					<div style="width:40px;height:40px;display:flex;flex-direction:column;">
						<img src="/static/images/home.png" style="height:20px;width:30px;"></img>
						<text style="height:20px;font-size:14px;">搜索</text>
					</div>
					<div style="width:173px;height:40px;margin-top:9px;">
						<input type="text" placeholder="单行输入" />
					</div>
				</div>
				<input type="submit" value="搜索" style="height:22px;margin-top:68px;"/>
			</div>
			<div style="width:90%;margin-left:auto;border-top:3px solid red;">
				<!--标题和日期-->
				<div style="display:flex;flex-direction:rows;">
					<div style="width:auto;height:50px;display:flex;flex-direction:column;margin-top:20px;">
						<div style="font-size:18px;width:400px;border:1px solid #d02866;">标题：{{article.title}}</div>
						<div style="font-size:14px;width:150px;margin-left:auto;">{{article.created_time}}</div>
					</div>
					<div style="display:flex;flex-direction:rows;margin-right:110px;margin-top:40px;margin-left:auto;">
						<div style="width:35px;height:50px;display:flex;flex-direction:column;" onclick="favor()">
							<img src="/static/images/good.png" id="good_favor" style="height:20px;width:20px;"></img>
							<text style="height:20px;font-size:14px;">赞 <text id="favor">12</text></text>
						</div>
						<div style="width:35px;height:50px;display:flex;flex-direction:column;margin-left:20px;" onclick="disfavor()">
							<img src="/static/images/bad.png" style="height:20px;width:23px;"></img>
							<text style="height:20px;font-size:14px;">踩 <text id="disfavor">2</text></text>
						</div>
					</div>
					
				</div>
				<!--文章区-->
				<div style="width:85%;border:2px solid pink;margin:0 0 10px 0;font-size:16px;">
					<div style="width:100%;padding:10px;">{{article.body|safe}}</div>
					<!--<p>{{article.body|safe}}</p>-->
				</div>

				<!--评论区-->
				<div style="width:85%;height:auto;border:1px solid #808080;">
					<div style="width:100%;height:auto;padding:10px;">
						<div style="font-size:16px;width:100px;margin:auto;"><strong>发表评论</strong></div>
						<div style="margin:5px 0px 5px 0px;display:flex;flex-direction:rows;">
							<div style="font-size:14px;width:40px;">名字:</div>
							
							<div>{{user.name}}</div>
						</div>
					<form action="{% url 'add_comment' article.id%}" method="post">
						{% csrf_token %}
						<div style="display:flex;flex-direction:rows;">
							<div style="font-size:14px;width:40px;">评论:</div>
							<textarea name="comment" value="" style="width:55%;" rows="4"></textarea>
						</div>
						<button style="margin-top:10px;">发表</button>
						<div style="font-size:14px;align:center;width:120px;margin:auto;">共{{comments|length}}条评论</div>
						<!--<div style="color:#808080;font-size:14px;">暂无评论</div>-->
						{% for comment in comments %}
							<p>{{comment.user_name.name}} <br>
								{{comment.body}}<br>
								{{comment.created_time|date:"Y-m-d"}}
							</p>
						{% endfor %}
					</form>
					</div>
					
				</div>
			</div>
		</div>
		
		<div style="width:35%;height:98%;display:flex;justify-content:center;">
			<div style="width:85%;">
				<div style="display:flex;flex-direction:rows;">
					<div style="width:200px;height:20px;border:1px solid #808080;margin-top:30px;">欢迎{{user.name}}回来!</div>
					<div style="width:70px;display:flex;flex-direction:column;margin-left:auto;">
						<img src="/static/images/setting.png" style="height:30px;width:35px;margin:auto;"></img>
						<text style="margin:auto;font-size:14px;">设置</text>
						<button onclick="window.location.href='{% url 'logout' %}'">退出登录</button>
					</div>
				</div>
				<div style="background-color:pink;padding:5px;margin-top:20px;">
					<div style="margin-bottom:20px;"><text style="font-size:14px;">个人信息</text></div>
					<div style="display:flex;flex-direction:rows;margin:10px 0 10px 0;">
						<div style="width:56px;display:flex;flex-direction:column;">
							<img src="/static/images/home.png" style="height:20px;width:30px;" ></img>
							<text style="font-size:14px;">昵称</text>
						</div>
						<!--<div style="line-height:39px;margin-left:20px;">{{user.name}}</div>-->
						<div style="line-height:39px;margin-left:20px;">{{article.author.name}}</div>
					</div>
					<div style="display:flex;flex-direction:rows;margin:10px 0 10px 0;">
						<div style="width:56px;display:flex;flex-direction:column;">
							<img src="/static/images/home.png" style="height:20px;width:30px;" ></img>
							<text style="font-size:14px;">个性签名</text>
						</div>
						<div style="line-height:39px;margin-left:20px;">暂无信息</div>
					</div>
					<div style="display:flex;flex-direction:rows;margin:10px 0 10px 0;">
						<div style="width:56px;display:flex;flex-direction:column;">
							<img src="/static/images/home.png" style="height:20px;width:30px;" ></img>
							<text style="font-size:14px;">博客数</text>
						</div>
						<div style="line-height:39px;margin-left:20px;">{{user_articles|length}}</div>
					</div>
				</div>
				<div style="margin-top:30px;padding-left:10px;">
					<div style="font-size:14px;">我的博文时间表</div>
					<div  style="margin-left:15px;margin-top:20px;">
						<div>
							<div style="display:flex;flex-direction:rows;margin:7px 0 7px 0;">
								<div style="display:flex;flex-direction:column;">
									<img src="/static/images/camera.png" style="height:20px;width:30px;" ></img>
									<text style="font-size:14px;">年份</text>
								</div>
								<input name="year" style="height:20px;width:120px;margin-top:10px;margin-left:20px;" value="2018" readonly="readonly"/>
							</div>
						</div>
						<div>
							<div style="display:flex;flex-direction:rows;margin:7px 0 7px 0;">
								<div style="display:flex;flex-direction:column;">
									<img src="/static/images/camera.png" style="height:20px;width:30px;" ></img>
									<text style="font-size:14px;">月份</text>
								</div>
								<input name="month" style="height:20px;width:120px;margin-top:10px;margin-left:20px;" value="6" readonly="readonly"/>
							</div>
						</div>
						
					</div>
				</div>
				<input value="搜索" style="width:60px;color:#808080;margin-left:100px;text-align:center;" readonly="readonly"/>
				<div style="height:100px;border:2px dashed pink;">我是广告位</div>
				
			</div>
			
		</div>
	
		<script>
			var myfavor=1;
			var mydisfavor=1;
			var fav=0;
			var disfav=0;
			function logout(){
				window.location.href="login.html";
			}
			function favor(){
				if(disfav==1){
					return;
				}
				myfavor++;
				if(myfavor%2==1){
					fav=0;
					document.getElementById("favor").innerHTML--;
					document.getElementById("favor").style.color="black";
					document.getElementById("good_favor").src="/static/images/good.png";
					return;
				}else{
					fav=1;
					document.getElementById("favor").innerHTML++;
					document.getElementById("favor").style.color="green";
					document.getElementById("good_favor").src="/static/images/good_on.png";
					return;
				}
			}
			function disfavor(){
				if(fav==1){
					return;
				}
				mydisfavor++;
				if(mydisfavor%2==1){
					disfav=0;
					document.getElementById("disfavor").innerHTML--;
					document.getElementById("disfavor").style.color="black";
				}else{
					disfav=1;
					document.getElementById("disfavor").innerHTML++;
					document.getElementById("disfavor").style.color="gray";
				}
			}
		</script>
	</body>
</html>