{% load staticfiles %}
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scale=no" name="viewport"/>
		<title>博客王</title>
		<style type="text/css">
			#index:hover{
				background-color:#d02866;
				color:white;
			}
			#kinds:hover{
				background-color:#d02866;
				color:white;
			}
		</style>
	</head>
	<body>
	<form method="GET" style="display:flex;flex-direction:rows;" action="{% url 'search' %}">
		<div style="width:65%;height:98%;border-right:1px solid #808080;">
			<div style="display:flex;flex-direction:rows;">
				<div style="display:flex;flex-direction:rows;width:40%;">
					<img src="/static/images/apple.jpg" style="height:100px;width:auto;border:1px solid #808080;"></img>
					<div id="index" style="width:27%;height:40px;border:1px solid #808080;line-height:40px;margin-top:60px;text-align:center;"><a href="{% url 'home' %}" style="text-decoration:none">首页</a></div>
					<div id="index" style="width:27%;height:40px;border:1px solid #808080;line-height:40px;margin-top:60px;text-align:center;"><a href="{% url 'home' %}" style="text-decoration:none">我的博客</a></div>
					<div id="kinds" style="width:27%;height:40px;border:1px solid #808080;line-height:40px;margin-top:60px;text-align:center;">科技</div>
				</div>
				<div style="display:flex;flex-direction:rows;width:213px;margin-top:60px;margin-left:auto;">
					<div style="width:40px;height:40px;display:flex;flex-direction:column;">
						<img src="/static/images/home.png" style="height:20px;width:30px;"></img>
						<text style="height:20px;font-size:14px;">搜索</text>
					</div>
					<div style="width:173px;height:40px;margin-top:9px;">
						<input type="text" name="search" placeholder="单行输入" value="" />
					</div>
				</div>
				<input type="submit" value="搜索" style="height:22px;margin-top:68px;"/>
			</div>
			<div style="width:90%;margin-left:auto;border-top:3px solid red;">
				<div style="display:flex;flex-direction:rows;margin-bottom:30px;margin-top:5px;">
					<div style="width:100px;height:50px;display:flex;flex-direction:column;">
					<img src="/static/images/write.png" style="height:30px;width:35px;"></img>
					<text style="height:20px;font-size:14px;">博客列表</text>
					</div>
					<div style="margin-left:auto;display:flex;flex-direction:rows;margin-top:auto;margin-right:50px;">
						<!--<div style="font-size:10px;width:65px;border:1px solid #808080;border-radius:2px;height:18px;text-align:center;"><text>综合排序</text></div>-->
						<div style="font-size:10px;width:65px;border:1px solid #808080;border-radius:2px;height:18px;text-align:center;"><a href="{% url 'sortbytime' %}" style="text-decoration:none">时间排序</a></div>
						<div style="font-size:10px;width:65px;border:1px solid #808080;border-radius:2px;height:18px;text-align:center;"><a href="{% url 'sortbyview' %}" type="button" style="text-decoration:none">浏览热度</a></div>
					</div>
					<div style="width:100px;height:50px;display:flex;flex-direction:column;margin-left:auto;" onclick="window.location.href='write_blog.html'">
						<img src="/static/images/pen.png" style="height:30px;width:35px;"></img>
						<a class="button" href="{% url 'writeblog' %}" style="">写博客</a>
						<!--<text style="height:20px;font-size:14px;">写博客</text>-->
					</div>
				</div>
				
				<div style="font-size:14px;">已为您查找到<text name="outcome" style="color:red;font-size:14px;">{{articles|length}}</text>条相关博文</div>
				<!--博客显示区-->
				{% for article in articles %}
        		<div style="width:90%;height:auto;border:2px solid pink;margin:10px 0 10px 0;display:flex;flex-direction:column;padding:5px;">
					<div><a style="font-size:20px;font-family:宋体;color:black;" href="{% url 'detail' article.id %}"><strong>{{article.title}}</strong></a></div>
					<div style="margin-left:auto;font-size:12px;color:#999;">
						<text name="author">作者:{{article.author.name}}</text>
						<text name="article_date" style="margin-left:10px;">{{article.created_time|date:"Y-m-d"}}</text>
						<text name="article_views" style="margin-left:10px;">浏览量:{{article.views}}</text>
					</div>
				</div>
    			{% endfor %}
				
			</div>
		</div>
		
		<div style="width:35%;height:98%;display:flex;justify-content:center;">
			<div style="width:85%;">
				<div style="display:flex;flex-direction:rows;">
					<div style="width:200px;height:20px;border:1px solid #808080;margin-top:30px;">欢迎{{user.name}}回来!</div>
					<div style="width:70px;display:flex;flex-direction:column;margin-left:auto;">
						<img src="/static/images/setting.png" style="height:30px;width:35px;margin:auto;"></img>
						<text style="margin:auto;font-size:14px;">设置</text>
						<button onclick="window.location.href='{% url 'logout' %}'">退出登录</button>
					</div>
				</div>
				<div style="background-color:pink;padding:5px;margin-top:20px;">
					<div style="margin-bottom:20px;"><text style="font-size:14px;">博主信息</text></div>
					<div style="display:flex;flex-direction:rows;margin:10px 0 10px 0;">
						<div style="width:56px;display:flex;flex-direction:column;">
							<img src="/static/images/home.png" style="height:20px;width:30px;" ></img>
							<text style="font-size:14px;">昵称</text>
						</div>
						<div id="nickname" style="line-height:39px;margin-left:20px;">{{user.name}}</div>
					</div>
					<div style="display:flex;flex-direction:rows;margin:10px 0 10px 0;">
						<div style="width:56px;display:flex;flex-direction:column;">
							<img src="/static/images/home.png" style="height:20px;width:30px;" ></img>
							<text style="font-size:14px;">个性签名</text>
						</div>
						<div id="signature" style="line-height:39px;margin-left:20px;">$signature</div>
					</div>
					<div style="display:flex;flex-direction:rows;margin:10px 0 10px 0;">
						<div style="width:56px;display:flex;flex-direction:column;">
							<img src="/static/images/home.png" style="height:20px;width:30px;" ></img>
							<text style="font-size:14px;">博客数</text>
						</div>
						<!--"?php echo $perinfo[ID];?-->
						<div id="blog_nums" style="line-height:39px;margin-left:20px;">{{user_articles|length}}</div>
					</div>
				</div>
	</form>
				<!--年月搜索-->
	<form action="{% url 'chosebytime' %}" method="get">
				<div style="margin-top:30px;padding-left:10px;">
					<div style="font-size:14px;">博文时间表</div>
					<div  style="margin-left:15px;margin-top:20px;">
						<div>
							<div style="display:flex;flex-direction:rows;margin:7px 0 7px 0;">
								<div style="display:flex;flex-direction:column;">
									<img src="/static/images/calendar.png" style="height:20px;width:25px;" ></img>
									<text style="font-size:14px;">年份</text>
								</div>
								<select name="year" style="height:20px;width:120px;margin-top:10px;margin-left:20px;">
									<option value="2018">2018</option>
									<script>
										for(var i=1;i<=5;i++){
											document.write("<option value='"+(2018-i)+"'>"+(2018-i)+"</option>"+"<br>");
										}
									</script>
								</select>
							</div>
						</div>
						<div>
							<div style="display:flex;flex-direction:rows;margin:7px 0 7px 0;">
								<div style="display:flex;flex-direction:column;">
									<img src="/static/images/calendar.png" style="height:20px;width:25px;" ></img>
									<text style="font-size:14px;">月份</text>
								</div>
								<select name="month" style="height:20px;width:120px;margin-top:10px;margin-left:20px;" sele>
									<option value="1">1</option>
									<script>
										for(var i=2;i<=12;i++){
											document.write("<option value='"+i+"'>"+i+"</option>"+"<br>");
										}
									</script>
								</select>
							</div>
						</div>
						
					</div>
				</div>
				<input type="submit" value="搜索" style="width:60px;color:red;margin-left:100px;"/>
	</form>
				<div style="height:100px;border:2px dashed pink;">我是广告位</div>
				
			</div>
			
		</div>
		<script>
			
			{
			var x="";
			for (var i=0;i<5;i++)
				{
				x=x + i + "<br>";
				}
			document.getElementById("year").innerHTML=x;
			}
			
			function logout(){
				window.location.href="login.html";
			}
			function todetail(){
				window.location.href="detail.html";
			}
			function towriteblog(){
				window.location.href="{% url 'writeblog' %}";
			}
		</script>
	</body>
</html>