{% load staticfiles %}
<html>
	<head>  
		<meta http-equiv="Content-Type">  
		<title>用户登录</title>  
	</head>
	<script>
		var identity=1;
		function choose_identity_1(){
			identity=1;
			document.getElementById("sign_name_part").innerHTML="<div id='nickname' style='display:flex;flex-direction:rows;margin:10px 0 10px 0;'></div>";
			document.getElementById("nickname").innerHTML="<div id='nickname' style='display:flex;flex-direction:rows;margin:10px 0 10px 0;'></div><div style='width:100px;height:45px;line-height:45px;background-color:white;'>昵称：</div><input type='text' name='user_password' value='' style='height:45px;width:240px;font-size:20px;margin-left:5px;' />";
			}
		function choose_identity_2(){
			identity=2;
			document.getElementById("sign_name_part").innerHTML="<div id='publisher_name' style='display:flex;flex-direction:rows;margin:10px 0 10px 0;'></div><div id='publisher_ISBN' style='display:flex;flex-direction:rows;margin:10px 0 10px 0;'></div><div id='publisher_tel' style='display:flex;flex-direction:rows;margin:10px 0 10px 0;'></div>";
			document.getElementById("publisher_name").innerHTML="<div style='width:100px;height:45px;line-height:45px;background-color:white;'>出版商名称：</div><input type='text' name='publisher' value='' style='height:45px;width:240px;font-size:20px;margin-left:5px;' id='publisher'/><span id='publisher1'>   </span>";
			document.getElementById("publisher_ISBN").innerHTML="<div style='width:100px;height:45px;line-height:45px;background-color:white;'>ISBN编码：</div><input type='text' name='user_name' value='' style='height:45px;width:240px;font-size:20px;margin-left:5px;' />";
			document.getElementById("publisher_tel").innerHTML="<div style='width:100px;height:45px;line-height:45px;background-color:white;'>联系方式：</div><input type='text' name='contact' value='' style='height:45px;width:240px;font-size:20px;margin-left:5px;' id='contact'/><span id='contact1'>   </span>";
		}
		
	</script>
	<script type="text/javascript">
		var status = {{status|safe}}
		var message = {{message|safe}}
		if(status =="fail"){
			alert(message)
		}
	</script>

	<script type="text/javascript">
	function check(){
    if(document.getElementById("password").value!=
        document.getElementById("password_check").value)
    {
    	alert("两次密码的输入不一致")
        <!--document.getElementById("warning").innerHTML="   两次密码的输入不一致";-->
    }else{
        document.getElementById("warning").innerHTML="   ";
    }
}
</script>

	<body>
		<div>
			<div>
				<img src="/static/images/logo.jpg" style="height:100px;width:auto;border:1px solid #808080;"></img>
			</div>
			
		<form style="display:flex;justify-content:center;" action="{% url 'register' %}" method="post">
			{% csrf_token %}
			<div style="height:80%;width:98%;border-top:4px solid red;display:flex;flex-direction:column;">
				<center>
				<div style="width:200px;height:35px;line-height:35px;font-size:17px;color:red;border:1px solid #808080;margin:50px 0 50px 0;">
					<strong>欢迎来到温雪纷飞！</strong>
				</div>
				<div style="width:360px;height:auto;background-color:pink;padding:30px 70px 10px 70px;">
					<div style="display:flex;flex-direction:rows;">
						<div style="width:80px;height:35px;line-height:35px;background-color:white;">我是：</div>
						<div style="height:35px;line-height:35px;margin-left:30px;display:flex;flex-direction:rows;">
							<div style="display:flex;flex-direction:rows;">
								<input type="radio" name="identity_1" onclick="choose_identity_1()"/>
								<div style="width:60px;background-color:white;color:red;">作者</div>
							</div>
							<div style="display:flex;flex-direction:rows;">
								<input type="radio" name="identity_2" onclick="choose_identity_2()"/>
								<div style="width:60px;background-color:white;color:red;">出版商</div>
							</div>
						</div>
					</div>
					<div id="sign_name_part"></div>
					<div style="display:flex;flex-direction:rows;margin:10px 0 10px 0;">
						<div style="width:100px;height:45px;line-height:45px;background-color:white;">密码：</div>
						<input type="password" name="user_password" value="" style="height:45px;width:240px;font-size:20px;margin-left:5px;" id="password"/>
					</div>
					<div style="display:flex;flex-direction:rows;margin:10px 0 10px 0;">
						<div style="width:100px;height:45px;line-height:45px;background-color:white;">确认密码：</div>
						<input type="password" name="user_password1" value="" style="height:45px;width:240px;font-size:20px;margin-left:5px;" id="password_check" onblur="check()"/>
						<span id="warning">   </span>
					</div>
					<div style="display:flex;flex-direction:column;">
						<button style="width:90px;height:45px;font-size:15px;margin:20px 0 10px 0;background-color:white;border:2px solid pink;" type="submit">注册</button>
						<div style="margin-top:10px;"><a href="{%url 'login' %}">已有账号？快来登录吧</a></div>
					</div>
				</div>
				</center>
			</div>
        </form>
		</div>
	</body>
</html>